{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navigation-bar">
        <div class="container">
            <a class="brand" href="{{ path('homepage') }}"></a>
        </div>
    </nav>
    <div class="container gr-generator">
        <h1>QR code generator</h1>
        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras accumsan rutrum dictum. Nunc volutpat egestas
            ante non efficitur. Sed pellentesque vulputate scelerisque. Sed nec fringilla nunc. Morbi sollicitudin at
            nibh dignissim vestibulum. Praesent et est diam. Proin vel pellentesque ex. Etiam ligula velit, sodales eget
            nunc vitae, ultricies pulvinar elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec tristique iaculis nulla,
            id semper turpis rutrum ut. Donec quis iaculis nisl. Nulla facilisi. Maecenas efficitur pellentesque
            finibus. Suspendisse volutpat lectus vitae auctor hendrerit.
        </div>
    </div>
{% endblock %}